@charset "utf-8";

/*reset css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/********float 해제 *******/

.clearfix {
    
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}